body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

   
}
nav ul {
    display: flex;
    justify-content: flex-end;
    
}
nav ul li {
    margin: 25px;
    list-style-type: style: none;
    
}
nav ul li a{
    text-decoration: none;
    color:red;
}
#home {
    text-align: center;
}
#about {
    text-align: center;
}
footer{
    
    text-align: center;
}
img {
    width: 200px;
    border-radius:50px ;
    float: left;
    margin-right: 50px;
    margin-bottom: 5px;
    margin-top: -5px;
}
.col-6 .col-md-8 {
    margin-bottom: 50px;
}